.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfbfb;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .company-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .user-image {
    width: 2.75rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
  

  